<h1 id="title">Find Free Wifi</h1>

<ul>
    <li>{{#link-to 'wifiSpots'}}View Free Wifi Locations Nearby{{/link-to}}</li>
    <li>{{#link-to 'wifiSpots.new'}}Add New Wifi Location{{/link-to}}</li>
</ul>

{{outlet}}
